@font-face {
  font-family: "iconfont"; /* Project id 5111726 */
  src: url('//at.alicdn.com/t/c/font_5111726_1pgl9elhjti.woff2?t=1768554751587') format('woff2'),
       url('//at.alicdn.com/t/c/font_5111726_1pgl9elhjti.woff?t=1768554751587') format('woff'),
       url('//at.alicdn.com/t/c/font_5111726_1pgl9elhjti.ttf?t=1768554751587') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyanzhi:before {
  content: "\e61d";
}

.icon-liuyanban:before {
  content: "\e61b";
}

.icon-icon-test:before {
  content: "\e602";
}

.icon-shouye:before {
  content: "\e675";
}

.icon-lianaixingqiu:before {
  content: "\e610";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-github:before {
  content: "\e85a";
}

.icon-QQ:before {
  content: "\e876";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-bilibili:before {
  content: "\eb78";
}

.icon-fanzhipai-copy:before {
  content: "\e600";
}

.icon-Clothing_moshumao_magic-hat_linear:before {
  content: "\e89d";
}
